# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Logs
logs/
*.log

# Editor settings
.vscode/
.idea/

# Temporary files
tmp*/
*.tmp
*.swp
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python packaging
*.egg-info/
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db
